h1 {
    color:grey;
    text-align: center;
    font-size: 36;
}


html {background-color: black;
}

.maindiv {
    font-family: verdana;
    background-color: white;
    margin: auto;
    width: 550px;
    padding: 20px;
    border-radius: 20px;
    }

.leftdiv {
    width:30%;
    display:inline-block;   
    box-sizing:border-box;
    text-align:left;
    margin-left: 15%;
    padding-bottom: 2%;
}
.rightdiv {
    width:40%;
    display:inline-block;   
    box-sizing:border-box;
    text-align:left;
    padding-bottom: 2%;
    padding-left:1px;
}

.resultdiv {
    width:70%;
    display:inline-block;   
    box-sizing:border-box;
    text-align:left;
    margin-left: 15%;
    padding-bottom: 2%;
}
